.azbau-lehrstellenboerse-lsb-filter-checks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.azbau-lehrstellenboerse-lsb-table {
  margin-top: 2em;
  border-collapse: collapse;
}

.azbau-lehrstellenboerse-lsb-table th {
  padding: 0.5em;
  border: 1px solid;
}

.azbau-lehrstellenboerse-lsb-table td {
  padding: 0.5em;
  border: 1px solid;
}

