#lehrstellenboerse > ul {
  margin: 0;
  margin-top: 1em;
  padding: 0;

  > li {
    display: grid;
    margin-right: 1em;
    margin-bottom: 2em;
    border: 1px solid;
    padding: 0.5em;

    * {
      margin-top: 0;
    }

    h5 {
      margin-top: .5em;
    }

    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #lehrstellenboerse > ul > li {
    display: inline grid;
  }
}
